<div class="page">
  <div class="home" id="home">
    <div class="tagline">
      <h2>We help you</h2><h2>get the home you want</h2><h2>on terms you like.</h2>
    </div>
  </div>
  <div class="about" id="about">
    <h1>About</h1>
    <p>American Equities Mortgage is the preferred lender for Cope Equities. As parent company to American Equities Mortgage, Cope Homes gives the highest value to the customer by vertically integrating the entire home building process, cutting out all the middle men to get the best quality product for the lowest price. American Equities Mortgage is dedicated to furthering that goal by brokering with lenders across the country to get our home buyers the perfect loan for their needs.</p>
  </div>
  <div class="apply" id="apply">
    <h1>Apply</h1>
    <div class="iframe-container">
      <iframe class="iframe" src="https://camillemrubsamen.zipforhome.com" scrolling="no"></iframe>
    </div>
  </div>
</div>
