.page {
}
.home {
  height: 75vh;
  display: flex;
  align-items: center;
  color: white;
  background-image: url('/assets/keys.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.about {
  height: 55vh;
  display: block;
  padding-top: 5vh;
  color: white;
  background-color: maroon;
}
.apply {
  background-color: white;
  color: maroon;
  text-align: center;
}
.iframe-container {
  overflow: hidden;
  margin-top: 10px;
  height: 650px;
  position:relative;
  padding-bottom: 5vh;
}
.iframe-container iframe {
  border: 0;
  height: 1020px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
  min-width: 100%;
  margin-top: -350px;
  margin-bottom: 5vh;
}
h1 {
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  padding-top: 6vh;
  margin: 0px;
}
.tagline {
  padding-left: 10vw;
  text-shadow: 1px 1px 5px black;
  font-size: 8vh;
  padding-top: 150px;
}
.tagline h2 {
  margin: 0px;
  font-size: 8vh;
}
p {
  margin: 10vh 10vw;
  font-size: 3vh;
  text-align: center;
}

@media only screen and (max-width: 874px) {
  .home, .about {
    height: 90vh;
  }
  .iframe-container {
    padding-bottom: 13vh;
    height: 1100px;
    background: white;
  }
  .iframe-container iframe {
    height: 1700px;
    margin-bottom: 13vh;
  }
}
